body {   
    font-family: "Montserrat", sans-serif;
    background: #FFFFFF;
}

/* main styles */

/* .main {
    display: flex;
    flex-direction: row-reverse;
    background-color: #F5F7FA;
    width: 1200px;
    margin: 0 auto;
} */

/* main-content */

/* .main-content {
    background-color: #fff;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 105px 90px;
} */

/* about styles */
/* 
.about {
    background: aliceblue;
    margin-bottom: 40px;
}

.about-position {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 20px;
}

.about-name {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 25px;
}

.about-description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 400px;
}

/* projects styles */

/* .project {
    margin-bottom: 50px;
}

.title-1,
.title-2,
.title-3 {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}

.project-list {
    padding: 0;
    margin-left: 15px;
}

.projects-item {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.project-s {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.project,
.project-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.project-link {
    margin-left: 10px;
}

.project-bre {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
} */ */


/* Work styles */

/* .work {
    
}

.work-position {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}

.work-position-2 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}

.period {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
}

.line {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.work-list {
    padding: 0;
    margin-left: 15px;
}

.work-list-item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
} */

/* Education styles */
/* 
.education {
    background: aliceblue;
    margin-top: 45px;
}

.education-title {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    margin-top: 10px;
    margin-bottom: 10px;
}

.education-man {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
} */

/* Sidebar styles */
/* 
.sidebar {
    background-color: #1E2939;
    padding-top: 40px;
    width: 370px;
} */

/* photo styles */

/* .photo {
    width: 370px;
    margin-bottom: 50px;
}

.sidebar-title {
    color: #ffffff;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}

.contacts, 
.tech-skills, 
.soft-skills {
    margin-left: 40px;
    margin-bottom: 45px;
}

.contacts {
    margin-bottom: 50px;
}

.contact-type {
    color: #ffffff;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin-right: 10px;
}

.contact-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #556e6a;
}

.skills-list {
    color: #ffffff;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    padding: 0;
    margin-left: 17px;
}

.tech-skills-text {
    color: #ffffff;
}

.skills-item {
    color: #FB6D3A;
} */


/* =========================================================== */
.is-hidden {
    
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
/* 
.visually-hidden {
    position: absolute;
    white-space: nowrap;
   
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
} */

p, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    margin: 0;
}

button {
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.list {
    list-style: none;
}

.item {
    text-decoration: none;
}

.coffee {
    cursor:pointer;
    border-color: red;
}

.radio {
    widows: 132px;
    height: 136px;
    background-color: #9CBE8F;
}

/* ===================================================================== */

.backdrop {
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: 
    opacity 1250ms cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 1250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
    max-width: 320px;
    padding: 29px 28px;
    margin: 0 auto;
}

.header-modal {
    background-color: #FCFCFC;
    border: 2px solid #F8D24E;
    border-radius: 10px;
    width: 280px;
    height: 986px;
}

.header-modal__title {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 84px;
}

.header-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 84px;
}

.header-modal__ice-cream {
    width: 132px;
    height: 136.4px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
    border: 2px solid #96AF8C;
    filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
    border-radius: 15.7808px;
    padding-bottom: 20px;
}

.header-modal__ice-coffee {
    width: 132px;
    height: 136.4px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
    border: 2px solid #EFD478;
    filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
    border-radius: 15.7808px;
    padding-bottom: 20px;
}

.header-modal__decor {
    position: relative;
}

.header-modal__milkshake {
    width: 132px;
    height: 136.4px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
    border: 2px solid #D6936D;
    filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
    border-radius: 15.7808px;
    padding-bottom: 20px;
}
.header-modal__ball-ice-cream {
    position: absolute;
    bottom: 41%;
    /* left: 2%; */
    border: 2px solid #9CBE8F;
    background-color: #9CBE8F;
    border-radius: 50%;
    width: 132px;
    height: 132px;
}
.header-modal__ball-ice-coffee {
    position: absolute;
    bottom: 40%;
    /* left: 2%; */
    border: 2px solid #F8D24E;
    background-color: #F8D24E;
    border-radius: 50%;
    width: 132px;
    height: 132px;
}

.header-modal__ball-milkshake {
    position: absolute;
    bottom: 42%;
    /* left: 2%; */
    border: 2px solid #D5753F;
    background-color: #D5753F;
    border-radius: 50%;
    width: 132px;
    height: 132px;
}

.headere-modal__img-icecream {
    position: absolute;
    bottom: 47%;
    width: 132px;
    height: 132px;
}

.headere-modal__img-icecoffee {
    position: absolute;
    bottom: 46%;
    width: 132px;
    height: 132px;
}

.headere-modal__img-milkshake {
    position: absolute;
    bottom: 48%;
    width: 132px;
    height: 132px;
}


.header-modal__input::placeholder {
    font-size: 12px;
    line-height: 140%;
    color: #131313;
}

.header-modal__input {
    width: 100%;
    height: 32px;
    margin-bottom: 12px;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84A178;
    border-radius: 10px;
    padding: 0 12px;
}

.header-modal__area::placeholder {
    font-size: 12px;
    line-height: 140%;
    color: #131313;
}

.header-modal__area {
    resize: none;
    width: 100%;
    height: 64px;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84A178;
    border-radius: 10px;
    padding: 8px 12px;
}

.header-modal__btn {
    width: 114px;
    height: 42px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #131313;
    border: none;
    background: #F8D24E;
    border-radius: 10px;
    margin-top: 24px;
}

.header-modal__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 28px;
}

